<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-6ef77a31-f860-4516-a6f2-0e4c6bd9bc9c;AttachDbFilename=|DataDirectory|\aspnet-Website-6ef77a31-f860-4516-a6f2-0e4c6bd9bc9c.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

  <add name="eResturantDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  
</connectionStrings>